@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url(https://use.fontawesome.com/releases/v6.1.1/css/all.css);

.top {
    background-color: #222222;
    background-position: absolute;
    color: #F3F3F3;
}
.logo_header {
    background-color:#F0A83E;
    background-position: absolute;
    color: #F3F3F3;
}
.banner {
    background-image: url(https://www.freepik.com/free-photo/bowl-pet-daities-green-background_2233182.htm);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    width: 100%;
    height: auto;
    
}